:root {
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;
  --color-primary-light: #747bff;
  
  --color-background: #242424;
  --color-background-light: #ffffff;
  --color-background-darker: #1a1a1a;
  
  --color-nav-background: #000000;
  --color-nav-text: #ffffff;
  --color-nav-hover: rgba(255, 255, 255, 0.1);
  --color-nav-active: var(--color-primary);
  
  --color-text-primary: rgba(255, 255, 255, 0.87);
  --color-text-primary-light: #213547;
  
  --color-button-background: var(--color-background-darker);
  --color-button-background-light: #f9f9f9;
  --color-button-border: transparent;
  --color-button-hover-border: var(--color-primary);
  
  --color-link: var(--color-primary);
  --color-link-hover: var(--color-primary-hover);
  --color-link-hover-light: var(--color-primary-light);
  
  --color-shadow: rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-background-light);
    --color-text-primary: var(--color-text-primary-light);
    --color-button-background: var(--color-button-background-light);
    --color-link-hover: var(--color-link-hover-light);
  }
}
